@use '../abstracts/' as *;

body {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    min-height: 100vh;
    background: no-repeat bottom url("/images/bg-pattern-bottom-desktop.svg");
    @include mediaQuery(laptop) {
        @include flexCenter(row); 
    }
    @include mediaQuery(laptop-l) {
        background-position: bottom right 0%;
    }
}

.container {
    margin-top: 5.25rem;
    @include mediaQuery(laptop) {
        margin-top: 0;
    }
}